@media (min-width: 45em) {

    /* HEADER */
    header {
        display: flex;
        justify-content: space-between;
    }

    .title img {
        max-width: 250px;
    }

    #menu {
        display: none;
    }

    .title {
        width: 40%;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    /**/

    /* HOME */
    .hero {
        height: 550px;
    }

    .hero-content p {
        width: 25rem;
    }

    .section-3c {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 1rem;
    }

    .section-title p {
        width: 75%;
    }

    /**/

    /* JOIN PAGE */
    .join-page {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    .join-cards {
        margin-top: -1rem;
        margin-right: 2rem;
    }

    .join-card {
        margin: 1rem 0 0 0;
    }

    /*************/

    /*Directory*/
    .gallery-list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;
        padding: 0.25rem;
    }

    /*Directory end*/

    /*footer*/
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 100%;
    }

    .footer-contact-info,
    .footer-author-info {
        display: block;
    }

    /*footer end*/
}