@media (min-width: 45em) {

    /*header*/
    header {
        display: flex;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    .title {
        width: 40%;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    /*header end*/

    /*Directory*/
    .gallery-list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;
        padding: 0.25rem;
    }

    /*Directory end*/

    /*footer*/
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 100%;
    }

    .footer-contact-info,
    .footer-author-info {
        display: block;
    }

    /*footer end*/
}